# Framework web ligero y rápido
fastapi==0.115.0

# Servidor ASGI para correr la app
uvicorn==0.30.0

# Cliente HTTP para comunicación con tu backend Node.js
requests==2.31.0
httpx==0.27.0  # Cliente HTTP asíncrono para FastAPI


# Manejo de variables de entorno
python-dotenv==1.0.1

# Librerías auxiliares para JSON y logs
pydantic==2.8.2
loguru==0.7.2

# Cliente de Google Gemini API
google-generativeai
google-genai